<article class="post">
   <div class="col-12 col-md-3:w-100 search_area" id="search_area"></div>
  <img src="/images/{{image_name}}" alt="{{product_name}}"width="128" height="128">
   <section class="card">
    <div class="row">
      <h3 class="title">{{product_name}} </h3>
    </div>
    <div class="row">
      <h3 class="title">{{product_note}} </h3>
    </div>
    <div class="row">
      <p class="info">Stock: {{quantity}}       Price: {{price}}</p>      
      <p class="info">Category: {{category.category_name}} </p>
    </div>
  <div class="card_content">
  </div>
  </section>
  </br>
</article>

